# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Sensitive data / Credentials
*.pem
*.key
*.cert
*.p12
*.pfx
*.pub
secrets.*
credentials.*
auth.*
id_rsa*
id_ed25519*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.swn
.project
.settings/
.classpath

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# misc
*.tsbuildinfo
next-env.d.ts
.vercel
.turbo
